{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test Microservices</h1>
                <hr>
                <div id="output" class="mt-5" style="ouline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="ouline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Payload</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="ouline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Received</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}